* {
    font-family: 'DM Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0 150px;
}

body {
    background-color: #171717;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    flex-direction: row;
}

.nav li {
    display: inline-block;
}

.nav li a {
    text-decoration: none;
    padding: 10px 10px;
    margin: 0 0;
    color: #F9F9F9;
    font-size: 14px;
}

.nav li a:hover {
    border-bottom:solid 2px #00DF5E;
    transition: 0.2s;
}

.container-titulo h3 {
    color: #f9f9f9;
}


.container-apre h2 {
    color: #F9F9F9;
    width: 50%;
    margin-bottom: 10px;
}

p {
    color: #828282;
    font-size: 14px;
    font: 'DM Sans';
    margin-bottom: 10px;
}

.container-apre button {
    margin: 0 1px;
}

.download {
    background-color: #00DF5E;
    color: black;
    padding: 8px 8px;
    border: none;
    font-size: 12px;
}

.download:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.container-cima {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.contato {
    background-color: #171717;
    color: white;
    padding: 7px 7px;
    border: 1px solid #333333;
    font-size: 12px;
}
.contato:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

main {
    width: 100%;


}

.parte2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 100px;
}

.sobre {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.sobre div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo {
    color: #F9F9F9;
}

.sobre h2 {
    text-align: center;
    margin-bottom: 22px;

}

.sobre p {
    width: 500px;
    text-align: center;
    margin-bottom: 25px;
}

.itens {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-top: 2.5rem;
    justify-self: center;
}

.ctts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    background-color: #212121;
    padding: 6px 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #00DF5E;
    width: 40px;
    height: 40px;
    font-size: 18px;
}

span {
    color: #F9F9F9;
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.pppp {

    width: 100%;
    margin-bottom: 100px;
}

.proj {
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

.proj h2 {
    text-align: center;
    margin-bottom: 22px;
}

.projetos {
    background-color: #212121;
    border: solid 1px #333333;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;

}

.projetos p {
    margin-top: 3px;
    position: relative;
    bottom: 0px;
}

.retangulo {
    background-color: #171717;
    width: 100%;
    height: 60%;
    border: solid 1px #333333;
    margin-bottom: 25px;
}

.div-projetos {
    width: 100%;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 240px 240px;
    grid-column-gap: 35px;
    grid-row-gap: 25px;

    
}


.serv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.container-serv {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.servicos {
    width: 350px;
    height: 240px;
    background-color: #212121;
    border-bottom: solid 3px #00DF5E;
    border-left: solid 1px #333333;
    border-right: solid 1px #333333;
    border-top: solid 1px #333333;
    padding: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.servicos i {
    font-size: 32px;
    color: #00DF5E;
    margin-bottom: 65px;
}
.servicos h4 {
    position: relative;
    bottom: 0px;
    font-size: 32px;
    width: 45%;
    color: #828282;
    

}

.serv h2 {
    margin-bottom: 20px;
}

.minhas-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.container-skills {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #212121;
    border: solid 1px #333333;
    margin: 23px;
}

footer {

    width: 100%;
    height: 55px;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    position: absolute;
    left: 0px;
}

.rodape {
    color: #F9F9F9;
    font-size: 16px;
    line-height: 21px;
    margin-top: 4px;
}

.nome-roda {
    color: #00DF5E;
    font-size: 16px;
    line-height: 21px;
    margin-top: 4px0;
}
